html {
  font-size: 62.5%;
}
.otp {
    background-image: url('../../assets/sign-in/sign-in-page-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;

    color: rgb(201, 198, 198);

    position: absolute;
    top:0;
    left: 0;
    z-index: 99999;
    //background-color: red;
    height: 100vh;
    padding: 3rem;

    width: 100%;
    
    
    .form-container {
      width: 40rem;
      //background-color: orchid;
      display: flex;
      justify-content: center;
      
      padding: .2rem;
      flex-direction: column;
      align-items: center;
    }


    .sms-input {
        //background-color: orange;
        display: flex;
        
       justify-content: center;
        
        width: 100%;

        padding: 1rem;
        
        box-sizing: border-box;
        
        color: grey;
        
        font-size: 1.28rem;
        align-items: center;
    
    }

}

.timer {

  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  //background-color: olive;
  width: 100%;
  padding: 0 2.7rem;
  padding-top: 0;
  padding-left: 2.9rem;


  

  &-container {
    display: flex;
    padding: 0 2.9rem;
    width: 100%;
    margin-top: .1rem;
    margin-bottom: 1rem;

  }
}

// @media only screen and (max-width: 600px) {
    
//     .otp .sms-input {
        
        
//     }
//   }

//   @media only screen and (min-width: 900px) {
    
//     .otp .sms-input {
      
//     }
//   }


  .next-button {
    width: 10rem;
    border-radius: 10px;
    padding: 1rem 6rem;
    display: flex;
    justify-content: center;
    background-color: #000000;
    border: .7px solid orange;
    cursor: pointer;
    transition: transform .3s;
    margin-top: 1px;
    color: orange;
    transition: transform .2s;
    font-size: 1.5rem;

    &:focus {
      outline: none;
      outline: gold;
      
    }

    &:hover {
      transform: translateY(-1.2px);
    }
    
    
  }



// in-order to hide the arrow for number type HTML inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}